body {
  margin: 0 auto;
}

.nv_main {
  font-size: 1rem;
  padding-left: 5%;
  padding: 1rem 5%;
}

.st_com {
  width: 98%;
  margin: 0 auto;
}

textarea {
  width: 99%;
  height: 12rem;
  border: none;
  padding: 1rem 0 0 1%;
  resize: none;
}

button {
  width: 92%;
  height: 3rem;
  line-height: 3rem;
  color: #fff;
  border: none;
  display: block;
  text-align: center;
  margin: 1rem auto;
  background: #ff2a2a;
  font-size: 1.3rem;
}
