<link rel="stylesheet" href="../../css/addrManage.css">

<div id="addr_main">
	<div id="addr_addrList">
		<div class="addr_addr addr_util" ng-repeat="(index,addr) in addrs">
			<div class="addr_addr_left fl" ng-click="event.toOrderConfirm(addr)">
				<div>
					<p class="addr_name">
						{{addr.contactor}}<span class="addr_tel">{{addr.phone}}</span>
					</p>
					<p class="addr_addr_left_addr">
						{{addr.address}}
					</p>
				</div>
			</div>
			<div class="addr_addr_right fr">
				<div class="addr_edit" ng-click="event.toUpdateUI(addr)">
					<i></i>
				</div>
				<div class="addr_del" ng-click="event.toDelete(addr._id)">
					<i></i>
				</div>
			</div>
		</div>
	</div>
	<div class="addr_addBtn_div">
		<button class="btn addr_addBtn" ng-click="event.toAddUI()">新增收货地址</button>
	</div>
</div>