<link rel="stylesheet" href="../../css/addrManage.css">

<div id="addr_main">
	<div id="addr_addrList">
		<div class="addr_addr addr_util">
			<div class="addr_addr_left fl">
				<div>
					<p class="addr_name">
						张三<span class="addr_tel">13111111111</span>
					</p>
					<p class="addr_addr_left_addr">
						平西府尚硅谷it教育大楼2层
					</p>
				</div>
			</div>
			<div class="addr_addr_right fr">
				<div class="addr_edit">
					<i></i>
				</div>
				<div class="addr_del">
					<i></i>
				</div>
			</div>
		</div>

		<div class="addr_addr addr_util">
			<div class="addr_addr_left fl">
				<div>
					<p class="addr_name">
						李四<span class="addr_tel">15012341234</span>
					</p>
					<p class="addr_addr_left_addr">
						平西府宏福苑南二区B楼3单元804
					</p>
				</div>
			</div>
			<div class="addr_addr_right fr">
				<div class="addr_edit">
					<i></i>
				</div>
				<div class="addr_del">
					<i></i>
				</div>
			</div>
		</div>
	</div>
	<div class="addr_addBtn_div">
		<button class="btn addr_addBtn">新增收货地址</button>
	</div>
</div>