<link rel="stylesheet" href="../../css/orderDetail.css">

<div id="od_main">
	<div class="od_schedule">
		<div class="od_schedule_top">
			<dl>
				<dt class="fl">
					<img src="img/od_schedule.png" />
				</dt>
				<dd class="fl">
					<p class="od_business">
						{{order.stateText}}
					</p>
					<p class="od_time">预计送达：<span>{{order.arrive_time}}</span></p>
				</dd>
			</dl>
		</div>
		<div class="od_schedule_bottom" ng-show='order.state==5'>
			<div class="od_schedule_font">
				<ul>
					<li>已付款</li>
					<li>商家已接单</li>
					<li>确认送达</li>
				</ul>
			</div>
			<div class="od_schedule_line">
				<span class="od_schedule_y"><i class="od_schedule_n od_bgr"></i></span>
				<span class="od_schedule_y"><i class="od_schedule_n od_bgr"></i></span>
				<span class=""><i class="od_schedule_n od_bgg"></i></span>
				<div class="od_line_left fl  od_bgg"></div>
				<div class="od_line_right fr od_bgg"></div>
			</div>
		</div>
		<div class="od_schedule_bottom" ng-show='order.state==1'>
			<div class="od_schedule_font">
				<ul>
					<li>待接单</li>
					<li>商家已接单</li>
					<li>确认送达</li>
				</ul>
			</div>
			<div class="od_schedule_line">
				<span class="od_schedule_y"><i class="od_schedule_n od_bgr"></i></span>
				<span class=""><i class="od_schedule_n od_bgg"></i></span>
				<span class=""><i class="od_schedule_n od_bgg"></i></span>
				<div class="od_line_left fl  od_bgg"></div>
				<div class="od_line_right fr od_bgg"></div>
			</div>
		</div>
		<div class="od_schedule_bottom" ng-show='order.state==3'>
			<div class="od_schedule_font">
				<ul>
					<li>已付款</li>
					<li>商家已接单</li>
					<li>确认送达</li>
				</ul>
			</div>
			<div class="od_schedule_line" style="display:none;">
				<span class="od_schedule_y"><i class="od_schedule_n od_bgr"></i></span>
				<span class="od_schedule_y"><i class="od_schedule_n od_bgr"></i></span>
				<span class="od_schedule_y"><i class="od_schedule_n od_bgr"></i></span>
				<div class="od_line_left fl  od_bgg"></div>
				<div class="od_line_right fr od_bgg"></div>
			</div>
		</div>
		<div class="od_schedule_bottom" ng-show='order.state==6'>
			<div class="od_schedule_font">
				<ul>
					<li>申请取消</li>
					<li>店铺处理</li>
					<li>订单取消</li>
				</ul>
			</div>
			<div class="od_schedule_line" style="display:none;">
				<span class="od_schedule_y"><i class="od_schedule_n od_bgr"></i></span>
				<span class="od_schedule_y"><i class="od_schedule_n od_bgr"></i></span>
				<span class="od_schedule_y"><i class="od_schedule_n od_bgr"></i></span>
				<div class="od_line_left fl  od_bgg"></div>
				<div class="od_line_right fr od_bgg"></div>
			</div>
		</div>
	</div>
	<div class="od_detail">
		<div class="od_detail_top">
			<div class="od_label">订单详情</div>

			<div class="od_meal_detail" ng-repeat="meal in order.detail.meals">
				<div class="od_foodPic fl">
					<img src="{{meal.picture}}" />
				</div>
				<div class="od_foodDetail fl">
					<p class="fl">{{meal.mealName}}</p>
					<p class="fl">X{{meal.count}}</p>
					<p class="fr">{{meal.price}}</p>
				</div>
			</div>

		</div>
		<div class="od_detail_mid">
			<ul>
				<li>
					<p class="fl">配送费用</p>
					<p class="fr">{{order.peisongfei}}元</p>
				</li>
				<li class="od_noborder">
					<p class="fl">费用合计</p>
					<p class="fr">{{order.detail.money}}元</p>
				</li>
			</ul>
		</div>
		<div class="od_detail_bottom">
			<p>配送地址：{{order.address}}</p>
			<p>收货电话：{{order.phone}}</p>
		</div>
	</div>

	<div class="od_footer">
		<div class="od_tel fl">
			<a href="javascript:;" onClick="alert('功能未开放')"><img src="img/om_tel.png" /></a>
		</div>

		<div onClick="alert('功能未开放')" class="od_backOrder fl">
			退单
		</div>

		<div class="od_sureOrder fr">
			<button class="od_sureOrder_btn" ui-sref="app.home">确认送达</button>
		</div>
	</div>
</div>